
body {
font-family: times,serif;

}


h1 {
color:#d1c0af;
font-family:times,serif;
text-align: center;
}

div {
padding: 5px 50px 5px 50px;
margin: 5px auto;
  width:90%;
  border:1px solid black;
  background: white;
}

img {
  display:block;
width: 75%;
margin:10px auto;

}


@media only screen and (min-width: 600px) {

  img {
    display:block;
  width: 30%;
  float:right;
  margin-left: 25px;
}

div {
padding: 5px 50px 5px 50px;
margin: 5px auto;
  width:75%;
  max-width:790px;
  border:1px solid black;
  background: white;
overflow: auto;
}

}
